/******************************************************************
Site Name: Pull List
Author: Paul Mulliganiel
Version: 1.2

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

body {
  max-width: 100vw;
}

.header {
  #inner-header {

    a {

      img {
        max-width: 70%;
        margin: 1em 0 0 1em;
        border-radius: 0.5em;
      }
    }

    #sidebar2 {
      display: inline;
      width: 25%;
      float: right;
      padding-left: 0;
    }

    #primary-menu {
      margin: 1em 0.5em;
    }
  }
}

.wrap {
  width: 100%;
}

#sidebar1 {
  padding-left: 0;
}

#content {
  margin-top: 0;

  #main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 0;

    .page-title {
      margin: 0em 0 1em 0.5em;
      flex-basis: 100%;
      align-self: center;
      justify-self: center;
    }

    article {
      flex-basis: 40%;
      margin: 0 1em;
    }

    .landing-post {
      flex-basis: 47.3%;

      .hentry {

        .article-header {
          .mobile-img {
            display: none;
          }

          .tablet-img {
            display: block;
          }

          .desktop-img {
            display: none;
          }
        }
      }
    }
  }
}

#content {

  .archive-main {

    .hentry {
      flex-basis: 45% !important;

      .mobile-img {
        display: none;
      }

      .tablet-img {
        display: block !important;
      }
    }
  }
}

#content {

  #inner-content {

    .single-main {
      display: block;
      max-width: 1100px;
      margin: 0 auto;

      .hentry {

        .article-header {
          text-align: center;

          img {
              max-width: 900px;
              height: auto;
          }
        }
      }
    }
  }
}