/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 100%;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

.post {
  margin-right: 2em;
  flex-basis: 45%;
}