/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 96%;
  margin: 0 2em;
}


#content {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.header {
  #inner-header {
    a {
      img {
        max-width: 72.9%;
      }
    }
  }
}

#sidebar2 {
  display: block;
  position: absolute;
  top: 0em;
  right: 11em;

  .tag-cloud-link {
    color: $light-gray;
    font-size: 1em !important;
    line-height: 1.5em;
    padding-right: 0.5em;
  }
}

.landing-post {
  margin-right: 2em;
  flex-basis: 45%;
}

.hentry {
  .article-header {
    img {
      width: 600px;
      height: 200px;
    }
  }
  .entry-content {
    p {
      max-width: 600px;
    }
  }
}