/******************************************************************
Site Name: Pull List
Author: Paul Mulliganiel
Version: 1.2

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background: url('../../images/Header.jpg') no-repeat cover;

	#inner-header {
		a {
			img {
				max-width: 100%;
			}
		}
	}
}

#site-tagline {
	color: $light-gray;
	text-align: center;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
		}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;
				}
			}

		}

	} /* end .menu li */
} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;

	#main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1em;

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			max-width: 100%;

			header {
				padding: 1.5em;

				.tablet-img {
					display: none;
				}

				.desktop-img {
					display: none;
				}

				img {
					max-width: 100%;
					height: auto;
				}
			}

			footer {
				padding: 1.5em;
				color: $black;

				p {
					margin: 0;
				}
			}
		}
	}

	.taxonomy-description {
		padding-bottom: 1em;
		color: $light-gray;
	}
}

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

.archive-title {
	color: $light-gray;
}

.page-title {
	color: $light-gray;
	font-size: 2.3em;
}

/* post meta */
.byline {
	color: $black;
	font-style: italic;
	margin: 0;
}

/* entry content */
.entry-content {
	padding: 1.5em 1.5em 0;
	color: $black;

	p {
		margin: 0 0 1.5em;
	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .pull_list_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


/*********************
SIDEBARS & ASIDES
*********************/

// Invisible on mobile and tablet
#sidebar2 {
	display: none;
}

.sidebar {
	color: $light-gray;
	padding: 1em;

	input[type="search"] {
		width: 85%;
	}
}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;

	.copyright {
		padding: 0 0.7em 0.4em;
	}
}

	/* Responsive Menu*/
	.panel{ position: fixed; right: -15.625em; width: 15.625em; background:#222;}
	.push{position:relative;}
	.menu-link{display:none;color:#fff;background:#333;border-radius:4px;padding:2px 12px;float:right;}
	.mobile-menu a{display:block;color:#fff;padding:10px 15px;}
	.mobile-menu a:hover{background-color:#555;}
	.mobile-menu li{border-bottom:1px #444 solid;}
	#inner-header {
		position: relative;
	}
	.menu-link {
		position: absolute;
		top: 1em;
		right: 1em;
	}
@media only screen and (max-width:900px) {
 
	#primary-menu{display:none;}
	.mobile-menu #primary-menu{display:block;}
	.menu-link{display:inline-block;}
}